<section class="container">
  <div class="row">
    <div class="col mb-4">
      <a
        href=""
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#nuevoCliente"
      >
        Nuevo Cliente
      </a>
    </div>
  </div>

  <div *ngIf="loading" class="text-center m-4">
    <div class="spinner-border text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="!loading" class="row">
    <div class="col-sm-12 col-md-9">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Email</th>
            <th scope="col">Saldo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.saldo | currency: '$' }}</td>
            <td>
              <a
                [routerLink]="['/cliente/editar/', cliente.id]"
                class="btn btn-success btn-sm mr-1"
                >Editar</a
              >
              <button class="btn btn-danger btn-sm ml-1">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-3">
      <div class="card bg-info mb-4">
        <div class="card-body text-center">
          Total Clientes
          <h5 class="font-weight-bold">{{ clientes?.length }}</h5>
        </div>
      </div>

      <div class="card bg-info">
        <div class="card-body text-center">
          Saldo Total
          <h5 class="font-weight-bold">
            {{ getSaldoTotal() | currency: '$' }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal para nuevo cliente -->
<div
  class="modal fade"
  id="nuevoCliente"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
        <button
          #cerrarModal
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="form" (submit)="guardarCliente()">
        <div class="modal-body">
          <input
            formControlName="nombre"
            type="text"
            [class.is-invalid]="getField('nombre').invalid && getField('nombre').touched"
            [class.is-valid]="!getField('nombre').invalid"
            class="form-control my-3"
            placeholder="Nombre"
          />

          <input
            formControlName="apellido"
            type="text"
            [class.is-invalid]="getField('apellido').invalid && getField('apellido').touched"
            [class.is-valid]="!getField('apellido').invalid"
            class="form-control my-3"
            placeholder="Apellido"
          />

          <input
            formControlName="email"
            type="email"
            [class.is-invalid]="getField('email').invalid && getField('email').touched"
            [class.is-valid]="!getField('email').invalid"
            class="form-control my-3"
            placeholder="Email"
          />

          <input
            formControlName="saldo"
            type="number"
            [class.is-invalid]="getField('saldo').invalid && getField('saldo').touched"
            [class.is-valid]="!getField('saldo').invalid"
            class="form-control my-3"
            placeholder="Saldo"
          />
        </div>

        <div class="modal-footer">
          <button
            (click)="form.reset()"
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Cancelar
          </button>

          <button
            [disabled]="!form.valid"
            type="submit"
            class="btn btn-primary"
          >
            Agregar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
